<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Controllers.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/userpage.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Controllers.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>Controllers.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>Controllers.SigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controllers.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientList</servlet-name>
        <servlet-class>Controllers.ClientList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutController</servlet-name>
        <servlet-class>Controllers.SignoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/admin/TestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/SigninController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientList</servlet-name>
        <url-pattern>/admin/ClientList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutController</servlet-name>
        <url-pattern>/SignoutController</url-pattern>
        <url-pattern>/admin/SignoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <resource-ref>
        <description>paoproject</description>
        <res-ref-name>jdbcPaoProject</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
